@*Com essa declaração está sendo explicitado que a View terá a disposição um objeto Seller*@
@*Com isso o compilador já consegue entender o atributo Name, que antes da declaração acusava erro*@
@model SalesWebMVC.Models.Seller


@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">@* Garante que o div irá ocupar a largura da tela *@
    <div class="col-md-4">@* O Bootstrap divide a tela em 12 partes. md-4, então, faz com que seja usado 1/3 da tela *@
        <form asp-action="Create">@*Essa ação criada é para o método POST. Não é para a ação... *@
            <div class="form-group">
                <label asp-for="Name" class="control-label">@* Esse tag helper é para definir o label que vai paracer na caixinha para digital *@
                </label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">
                </label>
                <input asp-for="Email" class="form-control" />
             </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">
                </label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label">
                </label>
                <input asp-for="BaseSalary" class="form-control" />
            </div>

            @*Botão Create*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

